// ==============================
// common tag style
// ==============================
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

ul {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

// ==============================
// common layout
// ==============================
body {
  margin: 0 auto;
  font-family: Lato, "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}


// ==============================
// header
// ==============================
.header {
  height: 65px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white;
  opacity: 0.7;
  z-index: 10;
}

.header-logo {
  float: left;
  line-height: 65px;
  font-weight: bold;
  font-size: 32px;

  a {
    color: white;
    display: block;
  }
}

.header-menu {
  float: right;
  margin: 0 auto;

  li {
    float: left;
    padding: 0 15px;
    line-height: 65px;
  }

  a {
    color: white;
    display: block;
    &:hover {
      color: red;
    }
  }
}

.menu-icon {
  display: none;
  color: #fff;
  float: right;
  line-height: 65px;
  font-size: 30px;
}
