// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// ==============================
// top-wrapper
// ==============================
.top-wrapper {
  background-image: image-url('home_top.jpg');
  height: 1000px;
  background-size: cover;
  background-position: center center;

  h1 {
    font-size: 42px;
    margin: 0 auto;
    text-align: center;
    color: #f2f2f2;
    text-shadow: 0 0 10px #000;
    position:absolute;
    top:30%;
    left:50%;
    width:100%;
    transform: translate(-50%,-50%);
  }
}

