@media (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .header-menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
}

@media(max-width: 670px){
  .top-wrapper {
    background-size: contain contain;
  }
}
