<!DOCTYPE html>
<html>
<head>
  <title>CicadaHomepage</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags({
    :viewport => "width=device-width, initial-scale=1.0"
  })%>
</head>
<body>

<header class="header">
  <div class="container">
    <div class="header-logo"><%= link_to 'CICADA', root_path %></div>
    <div class="header-menu">
      <ul>
        <li><%= link_to 'BIOGRAPHY', root_path %></li>
        <li><%= link_to 'DISCOGRAPHY', root_path %></li>
        <li><%= link_to 'GOODS', root_path %></li>
        <li><%= link_to 'MUSIC', root_path %></li>
        <li><%= link_to 'LIVE', root_path %></li>
        <li><%= link_to 'CONTACT', root_path %></li>
      </ul>
    </div>
    <a class="menu-icon" href="#">
      <span class="fa fa-bars"></span>
    </a>
  </div>
</header>

  <%= yield %>

</body>
</html>
